#set($domainObjectName = ${domainClassName.substring(0,1).toLowerCase()} + ${domainClassName.substring(1)})
<table class="table">
  <thead></thead>
  <tbody>
    <tr *ngFor="let $domainObjectName of listOf${domainClassName}s">
      <td><a routerLink="/$domainObjectName/{{$domainObjectName.${domainClassIdAttributeName}}}">X</a> </td>
      #foreach($key in $attrs.keySet() )
      <td>{{${domainObjectName}.${key}}}</td>
      #end
    </tr>
  </tbody>
</table>
<div class="col-md-12">
  <ul class="pager">
    <li *ngIf="currentPage > 1"><a  (click)="previousPage()">Previous</a></li>
    <li *ngIf="currentPage < lastPage"><a  (click)="nextPage()">Next</a></li>
  </ul>
</div>

