#set($domainObjectName = ${domainClassName.substring(0,1).toLowerCase()} + ${domainClassName.substring(1)})
#foreach($key in $attrs.keySet() )
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label for="${key}">${key}</label>
      <div ><input type="text" id="${key}" name="${key}" class="form-control" [(ngModel)]="${domainObjectName}.${key}"></div>
    </div>
  </div>
</div>
#end
<div class="row">
  <div class="col-sm-4">
    <button type="button" class="btn btn-primary" (click)="save${domainClassName}()">Save</button>
  </div>
</div>
