<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="AxlEli2"
            id="VASBootBuilder">
      </category>
      <wizard
            name="Backbone Enabled Page"
            icon="icons/sample.gif"
            category="VASBootBuilder"
            class="vasbootbuilder.wizards.backbone.BackbonePageNewWizard"
            id="vasbootbuilder.wizards.backbone.BackbonePageNewWizard">
      </wizard>
      <wizard
            category="VASBootBuilder"
            class="vasbootbuilder.wizards.site.NewBackboneSpringProjectWizard"
            icon="icons/sample.gif"
            id="vasbootbuilder.wizards.site.NewBackboneSpringProjectWizard"
            name="Spring Boot Backbone/Angular/Vue Project Wizard"
            project="true">
      </wizard>
      <wizard
            name="Backbone Model Page"
            icon="icons/sample.gif"
            category="VASBootBuilder"
            class="vasbootbuilder.wizards.backbone.BackboneNewModelWizard"
            id="vasbootbuilder.wizards.backbone.BackboneNewModelWizard">
      </wizard>
   </extension>
   
   <!--This is for adding more Models outside of the main project wizard -->
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            id="Oleng3.contribution1">
         <menu
               label="VASBootBuilder"
               path="additions"
               id="Oleng3.menu1">
            <separator name="group1"> </separator>
            <separator name="group2"> </separator>
         </menu>
         <action
               label="Add New Model.."
               class="vasbootbuilder.wizards.backbone.actions.AddNewModelAction"
               menubarPath="Oleng3.menu1/group1"
               enablesFor="1"
               id="Oleng3.newAction">
         </action>
         <action
               label="Add New Presenter.."
               class="vasbootbuilder.wizards.backbone.actions.AddNewPresenterAction"
               menubarPath="Oleng3.menu1/group2"
               enablesFor="1"
               id="Oleng3.newPresenter">
         </action>
         <action
               label="Add New Wizard-Type Presenter.."
               class="vasbootbuilder.wizards.backbone.actions.AddNewWizardTypePresenterAction"
               menubarPath="Oleng3.menu1/group3"
               enablesFor="1"
               id="Oleng3.newWizardTypePresenter">
         </action>
         <!--action
               label="Add Third Party JS Lib"
               class="vasbootbuilder.wizards.backbone.actions.AddNewJSLibAction"
               menubarPath="Oleng3.menu1/group2"
               enablesFor="1"
               id="Oleng3.newJSLib">
         </action-->
      </objectContribution>      
   </extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            id="Oleng3.contribution1">
         <menu
               label="VASBootBuilder Node"
               path="additions"
               id="Oleng3.menu1">
            <separator name="group1"> </separator>
            <separator name="group2"> </separator>
         </menu>
         <action
               label="Run npm install"
               class="vasbootbuilder.wizards.backbone.actions.RunNpmInstall"
               menubarPath="Oleng3.menu1/group1"
               enablesFor="1"
               id="Oleng3.newAction">
         </action>         
      </objectContribution>      
   </extension>

</plugin>